@import url('https://fonts.googleapis.com');

* {
    padding: 0;
    width: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background: #dfe9f5;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.logo { 
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15;
    font-size: 15px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgba(85, 85, 83);
    font-size: 15px;
    display: table;
    width: 300px;
    padding: 10px;
}

i {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}
nav:hover {
    width: 280px;
    transition: all 0.5 ease;
}

.keluar {
    position: absolute;
    bottom: 0;
}